.upload_store_img input {
    display: none;
}

.upload_store_img label,
.cropped_img {
    width: 140px;
    height: 140px;
    border: 1px dashed #e6e6e6;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}